# .clinerules

# プロジェクトの概要
これは私、かりんとうマニアの技術ブログです。Hexoを使ったMarkdownで書かれています。
記事は日本語で書かれています。

# 下書きの作成
以下のコマンドで下書きを作成します。
```bash
$ make draft "slug-of-the-post"
```

記事のslugは英単語をスネークケースで記述します。

# 一般的な構成
1. **タイトルブロック**: 各記事はYAMLフロントマターで始まります。以下の項目を含めます:
   - `title`: 記事の日本語タイトル。slugを翻訳したものになります。
   - `tags`: 記事に関連するタグのリスト
   - `categories`: 技術 // categoriesの値はいつも技術
   - `featured_image`: thumb.png // featured_imageの値はいつもthumb.png

2. **導入**: 記事の冒頭で「こんにちは。 [かりんとうマニア(@karintozuki)](https://twitter.com/karintozuki)です。」と挨拶し、
   著者の簡単な紹介から始め、記事の背景や動機を説明します。抜粋用に「more」タグを含めます。

3. **本文**: 見出しや小見出しを使って内容を整理します。
   コードブロック、画像、リンクを適宜含めます。
   コードブロックは適切な言語タグを使用して記述します。
   例:
   {% codeblock lang:php %}
   // PHPのコード例
   $serviceMock = mock(Service::class);
   $serviceMock->shouldReceive('run')->andReturn('Mocked Response')->once();
   {% endcodeblock %}
   画像を挿入する際は、`{% asset_img 画像ファイル名 %}`の形式を使用します。
   リンクを挿入する際は、適切なアンカーテキストを使用します。例:
   [HelixのGitHubリンク](https://github.com/helix-editor/helix)

4. **結論**: 主要なポイントをまとめ、記事の最後に「それじゃ今日はこの辺で。」と締めくくります。

5. **関連記事**: 記事の最後に関連する記事をリストアップします。

# 記事の文体
1. **一人称**: 「私」を使用します。
2. **敬体**: ですます調を使用します。
5. **親しみやすさ**: 読者に親しみやすいトーンで書きます。

# その他の注意点
- **フォーマット**: Markdownのフォーマットを適切に使用し、読みやすさを確保します。
- **一貫性**: 記事全体で一貫したスタイルとトーンを維持します。